*{
    margin: 0;
    padding: 0;
}
h1
{
    background-color:#081b31;
    color: white;
    font-size: 4rem;
    height: 12rem;
    text-align: center;
    line-height: 12rem;
}
.choice
{
    margin-top:20px;
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 5rem;

}
img
{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 330px;
    height: 330px;
}
.choices:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 2px solid black; */
    font-size: 2rem;
    margin: 4rem;
    gap: 15rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#user_score,#comp_score
{
    font-size: 7rem;
}

.msg-container
{
    background-color:#081b31;
    color: white;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
}